<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,268}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{198,268}}</string>
                <key>sourceSize</key>
                <string>{202,272}</string>
            </dict>
            <key>big_joker.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,134},{130,222}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,2},{130,222}}</string>
                <key>sourceSize</key>
                <string>{168,226}</string>
            </dict>
            <key>big_joker_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,719},{23,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,139}}</string>
                <key>sourceSize</key>
                <string>{23,139}</string>
            </dict>
            <key>black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{38,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{38,65}}</string>
                <key>sourceSize</key>
                <string>{46,65}</string>
            </dict>
            <key>black_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,270},{46,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>black_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,758},{42,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>black_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,826},{40,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>black_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,894},{40,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,826},{42,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>black_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,900},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>black_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,832},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>black_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,972},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>black_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,758},{40,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>black_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,962},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>black_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,972},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>black_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,758},{42,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>black_man_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,594},{162,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{162,218}}</string>
                <key>sourceSize</key>
                <string>{168,226}</string>
            </dict>
            <key>black_man_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{162,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{162,218}}</string>
                <key>sourceSize</key>
                <string>{168,226}</string>
            </dict>
            <key>black_man_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,430},{162,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{162,218}}</string>
                <key>sourceSize</key>
                <string>{168,226}</string>
            </dict>
            <key>color_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{96,124}}</string>
                <key>offset</key>
                <string>{11,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,80},{96,124}}</string>
                <key>sourceSize</key>
                <string>{168,226}</string>
            </dict>
            <key>color_1_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,962},{32,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{32,42}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>color_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,694},{116,136}}</string>
                <key>offset</key>
                <string>{11,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,73},{116,136}}</string>
                <key>sourceSize</key>
                <string>{168,226}</string>
            </dict>
            <key>color_2_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,380},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>color_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,858},{112,106}}</string>
                <key>offset</key>
                <string>{11,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,90},{112,106}}</string>
                <key>sourceSize</key>
                <string>{168,226}</string>
            </dict>
            <key>color_3_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,984},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{36,34}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>color_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{112,126}}</string>
                <key>offset</key>
                <string>{11,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,84},{112,126}}</string>
                <key>sourceSize</key>
                <string>{168,226}</string>
            </dict>
            <key>color_4_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,338},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,758},{40,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>red_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,202},{46,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>red_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,900},{42,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>red_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,826},{40,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>red_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,894},{40,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,832},{42,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,626},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>red_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,558},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>red_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,490},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>red_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,758},{40,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>red_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,894},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>red_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,422},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>red_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,968},{42,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>red_man_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{162,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{162,218}}</string>
                <key>sourceSize</key>
                <string>{168,226}</string>
            </dict>
            <key>red_man_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,266},{162,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{162,218}}</string>
                <key>sourceSize</key>
                <string>{168,226}</string>
            </dict>
            <key>red_man_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{162,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{162,218}}</string>
                <key>sourceSize</key>
                <string>{168,226}</string>
            </dict>
            <key>small_joker.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{130,222}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,2},{130,222}}</string>
                <key>sourceSize</key>
                <string>{168,226}</string>
            </dict>
            <key>small_joker_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{23,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,139}}</string>
                <key>sourceSize</key>
                <string>{23,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b55a0644881bb4da829a96e7a0336e5$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
