<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{200,270}</string>
                <key>spriteSourceSize</key>
                <string>{202,272}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>big_joker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,0}</string>
                <key>spriteSize</key>
                <string>{132,224}</string>
                <key>spriteSourceSize</key>
                <string>{168,226}</string>
                <key>textureRect</key>
                <string>{{271,499},{132,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>big_joker_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,139}</string>
                <key>spriteSourceSize</key>
                <string>{23,139}</string>
                <key>textureRect</key>
                <string>{{223,203},{23,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{40,65}</string>
                <key>spriteSourceSize</key>
                <string>{46,65}</string>
                <key>textureRect</key>
                <string>{{375,879},{40,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>black_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{223,344},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{239,868},{44,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{42,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{285,971},{42,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>black_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{331,835},{42,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{239,936},{44,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{223,412},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{223,480},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{223,548},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{363,767},{42,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{331,903},{42,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{223,616},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{271,767},{44,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_man_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,220}</string>
                <key>spriteSourceSize</key>
                <string>{168,226}</string>
                <key>textureRect</key>
                <string>{{273,1},{164,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>black_man_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,220}</string>
                <key>spriteSourceSize</key>
                <string>{168,226}</string>
                <key>textureRect</key>
                <string>{{273,167},{164,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>black_man_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,220}</string>
                <key>spriteSourceSize</key>
                <string>{168,226}</string>
                <key>textureRect</key>
                <string>{{1,203},{164,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>color_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-29}</string>
                <key>spriteSize</key>
                <string>{98,126}</string>
                <key>spriteSourceSize</key>
                <string>{168,226}</string>
                <key>textureRect</key>
                <string>{{1,821},{98,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>color_1_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,46}</string>
                <key>textureRect</key>
                <string>{{421,969},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-28}</string>
                <key>spriteSize</key>
                <string>{118,138}</string>
                <key>spriteSourceSize</key>
                <string>{168,226}</string>
                <key>textureRect</key>
                <string>{{1,701},{118,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>color_2_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{40,46}</string>
                <key>textureRect</key>
                <string>{{375,921},{40,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-30}</string>
                <key>spriteSize</key>
                <string>{114,108}</string>
                <key>spriteSourceSize</key>
                <string>{168,226}</string>
                <key>textureRect</key>
                <string>{{129,868},{114,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>color_3_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,46}</string>
                <key>textureRect</key>
                <string>{{457,969},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-34}</string>
                <key>spriteSize</key>
                <string>{114,128}</string>
                <key>spriteSourceSize</key>
                <string>{168,226}</string>
                <key>textureRect</key>
                <string>{{141,752},{114,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>color_4_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{40,46}</string>
                <key>textureRect</key>
                <string>{{417,921},{40,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{353,971},{42,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{223,684},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{285,835},{44,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{42,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{375,835},{42,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{407,767},{42,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{317,767},{44,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{141,701},{46,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{1,921},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{49,921},{46,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{443,835},{42,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{451,767},{42,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{49,969},{46,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{285,903},{44,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_man_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,220}</string>
                <key>spriteSourceSize</key>
                <string>{168,226}</string>
                <key>textureRect</key>
                <string>{{273,333},{164,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_man_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,220}</string>
                <key>spriteSourceSize</key>
                <string>{168,226}</string>
                <key>textureRect</key>
                <string>{{1,369},{164,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_man_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,220}</string>
                <key>spriteSourceSize</key>
                <string>{168,226}</string>
                <key>textureRect</key>
                <string>{{1,535},{164,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>small_joker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,0}</string>
                <key>spriteSize</key>
                <string>{132,224}</string>
                <key>spriteSourceSize</key>
                <string>{168,226}</string>
                <key>textureRect</key>
                <string>{{271,633},{132,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>small_joker_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,139}</string>
                <key>spriteSourceSize</key>
                <string>{23,139}</string>
                <key>textureRect</key>
                <string>{{248,203},{23,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{496,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ad572db493b42f18a515ddc2822e753:a834e7ff4fe0cdef03a22b8ea014c432:fc86278e5045194fe7638df41a1aa4f3$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
