<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>num_green_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,330},{32,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{32,42}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>num_green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,286},{24,42}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,42}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>num_green_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,310},{32,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>num_green_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,44}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>num_green_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,356},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{36,40}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>num_green_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{32,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{32,42}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>num_green_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,274},{34,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,42}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>num_green_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,158},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{30,40}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>num_green_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{34,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{34,42}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>num_green_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,286},{34,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{34,42}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>num_red_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,198},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{38,48}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>num_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,200},{26,46}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{26,46}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>num_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,222},{36,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>num_red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{38,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>num_red_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,222},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{40,46}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>num_red_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{38,48}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>num_red_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,158},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{38,48}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>num_red_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,248},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{36,46}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>num_red_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{38,48}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>num_red_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,118},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{38,48}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>num_yellow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,330},{32,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{32,42}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>num_yellow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,374},{24,40}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,40}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>num_yellow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,322},{32,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>num_yellow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,300},{32,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{32,42}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>num_yellow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,334},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{36,40}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>num_yellow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,296},{32,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{32,42}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>num_yellow_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,264},{34,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,42}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>num_yellow_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,116},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{30,40}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>num_yellow_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,260},{34,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{34,42}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>num_yellow_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,238},{34,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{34,42}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>placecard_countdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,116},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>placecard_countdown_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>placecard_countdownbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>clocknew.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d68303406d6a8d911dfa46ccb73a0d6$</string>
            <key>textureFileName</key>
            <string>clocknew.png</string>
        </dict>
    </dict>
</plist>
