<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,272}</string>
                <key>spriteSourceSize</key>
                <string>{202,272}</string>
                <key>textureRect</key>
                <string>{{0,1175},{202,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>big_joker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,226}</string>
                <key>spriteSourceSize</key>
                <string>{168,226}</string>
                <key>textureRect</key>
                <string>{{336,949},{168,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>big_joker_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,139}</string>
                <key>spriteSourceSize</key>
                <string>{23,139}</string>
                <key>textureRect</key>
                <string>{{0,0},{23,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,65}</string>
                <key>spriteSourceSize</key>
                <string>{46,65}</string>
                <key>textureRect</key>
                <string>{{252,0},{46,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{414,205},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{368,139},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{230,205},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{322,205},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{276,205},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{184,205},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{138,205},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{0,205},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{368,205},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{92,205},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{46,205},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{414,139},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_man_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,226}</string>
                <key>spriteSourceSize</key>
                <string>{168,226}</string>
                <key>textureRect</key>
                <string>{{336,497},{168,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_man_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,226}</string>
                <key>spriteSourceSize</key>
                <string>{168,226}</string>
                <key>textureRect</key>
                <string>{{0,723},{168,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_man_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,226}</string>
                <key>spriteSourceSize</key>
                <string>{168,226}</string>
                <key>textureRect</key>
                <string>{{168,723},{168,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,226}</string>
                <key>spriteSourceSize</key>
                <string>{168,226}</string>
                <key>textureRect</key>
                <string>{{168,949},{168,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_1_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{40,46}</string>
                <key>textureRect</key>
                <string>{{126,0},{40,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,226}</string>
                <key>spriteSourceSize</key>
                <string>{168,226}</string>
                <key>textureRect</key>
                <string>{{336,723},{168,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_2_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{40,46}</string>
                <key>textureRect</key>
                <string>{{166,0},{40,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,226}</string>
                <key>spriteSourceSize</key>
                <string>{168,226}</string>
                <key>textureRect</key>
                <string>{{0,271},{168,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_3_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{40,46}</string>
                <key>textureRect</key>
                <string>{{86,0},{40,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,226}</string>
                <key>spriteSourceSize</key>
                <string>{168,226}</string>
                <key>textureRect</key>
                <string>{{0,949},{168,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_4_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{40,46}</string>
                <key>textureRect</key>
                <string>{{46,0},{40,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{390,0},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{344,0},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{436,0},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{298,0},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{206,0},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{0,139},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{138,139},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{276,139},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{230,139},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{322,139},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{184,139},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{92,139},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{46,139},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_man_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,226}</string>
                <key>spriteSourceSize</key>
                <string>{168,226}</string>
                <key>textureRect</key>
                <string>{{168,271},{168,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_man_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,226}</string>
                <key>spriteSourceSize</key>
                <string>{168,226}</string>
                <key>textureRect</key>
                <string>{{168,497},{168,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_man_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,226}</string>
                <key>spriteSourceSize</key>
                <string>{168,226}</string>
                <key>textureRect</key>
                <string>{{336,271},{168,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>small_joker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,226}</string>
                <key>spriteSourceSize</key>
                <string>{168,226}</string>
                <key>textureRect</key>
                <string>{{0,497},{168,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>small_joker_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,139}</string>
                <key>spriteSourceSize</key>
                <string>{23,139}</string>
                <key>textureRect</key>
                <string>{{23,0},{23,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{504,1447}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38819a57d51346470407779ba4a71591:a834e7ff4fe0cdef03a22b8ea014c432:7091b912c8b6d40e279854fb79f668a3$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
