<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{80,102},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{0,153},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{40,153},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{80,153},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{0,204},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{0,0},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{40,0},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{80,0},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{0,51},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{40,51},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{80,51},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{0,102},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{40,102},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{0,357},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{40,357},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{80,357},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{0,408},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{40,408},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{40,204},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{80,204},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{0,255},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{40,255},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{80,255},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{0,306},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{40,306},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{80,306},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{40,561},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{80,561},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{0,612},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{40,612},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{80,612},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{80,408},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{0,459},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{40,459},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{80,459},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{0,510},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{40,510},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{80,510},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{0,561},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{80,765},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{0,816},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{40,816},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{80,816},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{0,867},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{0,663},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{40,663},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{80,663},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{0,714},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{40,714},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{80,714},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{0,765},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{40,765},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_5_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{40,867},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_5_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,51}</string>
                <key>spriteSourceSize</key>
                <string>{40,51}</string>
                <key>textureRect</key>
                <string>{{80,867},{40,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{120,918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:356f027ea99d410150d2a39418294970:87dd2c3f4fd49a46695816f93f1e3673:7091b912c8b6d40e279854fb79f668a3$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
