<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,268}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{198,268}}</string>
                <key>sourceSize</key>
                <string>{202,272}</string>
            </dict>
            <key>big_joker.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{130,222}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,2},{130,222}}</string>
                <key>sourceSize</key>
                <string>{168,226}</string>
            </dict>
            <key>big_joker_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,510},{23,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,139}}</string>
                <key>sourceSize</key>
                <string>{23,139}</string>
            </dict>
            <key>black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,138},{38,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{38,65}}</string>
                <key>sourceSize</key>
                <string>{46,65}</string>
            </dict>
            <key>black_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,382},{46,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>black_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,70},{42,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>black_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,70},{40,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>black_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{40,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{42,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>black_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,254},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>black_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,208},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>black_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,140},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>black_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,68},{40,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>black_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,138},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>black_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,336},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>black_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,980},{42,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>black_man_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,760},{162,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{162,218}}</string>
                <key>sourceSize</key>
                <string>{168,226}</string>
            </dict>
            <key>black_man_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,540},{162,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{162,218}}</string>
                <key>sourceSize</key>
                <string>{168,226}</string>
            </dict>
            <key>black_man_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,222},{162,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{162,218}}</string>
                <key>sourceSize</key>
                <string>{168,226}</string>
            </dict>
            <key>card_back_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{198,266}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{198,266}}</string>
                <key>sourceSize</key>
                <string>{202,272}</string>
            </dict>
            <key>color_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,442},{96,124}}</string>
                <key>offset</key>
                <string>{11,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,80},{96,124}}</string>
                <key>sourceSize</key>
                <string>{168,226}</string>
            </dict>
            <key>color_1_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,988},{32,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{32,42}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>color_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{116,136}}</string>
                <key>offset</key>
                <string>{11,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,73},{116,136}}</string>
                <key>sourceSize</key>
                <string>{168,226}</string>
            </dict>
            <key>color_2_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,382},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>color_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,268},{112,106}}</string>
                <key>offset</key>
                <string>{11,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,90},{112,106}}</string>
                <key>sourceSize</key>
                <string>{168,226}</string>
            </dict>
            <key>color_3_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{36,34}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>color_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,140},{112,126}}</string>
                <key>offset</key>
                <string>{11,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,84},{112,126}}</string>
                <key>sourceSize</key>
                <string>{168,226}</string>
            </dict>
            <key>color_4_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,382},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,70},{40,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>red_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,442},{46,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>red_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,980},{42,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>red_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{40,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>red_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,206},{40,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,980},{42,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,268},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>red_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,430},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>red_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,430},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>red_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{40,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>red_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,138},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>red_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,430},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>red_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,980},{42,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>red_man_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{162,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{162,218}}</string>
                <key>sourceSize</key>
                <string>{168,226}</string>
            </dict>
            <key>red_man_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,760},{162,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{162,218}}</string>
                <key>sourceSize</key>
                <string>{168,226}</string>
            </dict>
            <key>red_man_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,540},{162,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{162,218}}</string>
                <key>sourceSize</key>
                <string>{168,226}</string>
            </dict>
            <key>small_joker.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{130,222}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,2},{130,222}}</string>
                <key>sourceSize</key>
                <string>{168,226}</string>
            </dict>
            <key>small_joker_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,988},{23,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,139}}</string>
                <key>sourceSize</key>
                <string>{23,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e653f03854140896c59fbedbc89ccbaf$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
