<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{793,114},{22,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>black_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{706,207},{24,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{830,114},{22,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>black_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{867,114},{22,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>black_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{904,114},{22,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>black_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{876,138},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{732,207},{24,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{758,207},{24,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{211,158},{24,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{846,175},{22,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>black_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{900,138},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{772,138},{24,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{883,175},{22,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>discard_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,135}</string>
                <key>spriteSourceSize</key>
                <string>{103,135}</string>
                <key>textureRect</key>
                <string>{{688,1},{103,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>discard_tips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,176}</string>
                <key>spriteSourceSize</key>
                <string>{134,176}</string>
                <key>textureRect</key>
                <string>{{1,1},{134,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_back_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{107,149}</string>
                <key>spriteSourceSize</key>
                <string>{109,149}</string>
                <key>textureRect</key>
                <string>{{252,1},{107,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_back_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{107,149}</string>
                <key>spriteSourceSize</key>
                <string>{109,149}</string>
                <key>textureRect</key>
                <string>{{361,1},{107,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_big_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{60,71}</string>
                <key>spriteSourceSize</key>
                <string>{66,71}</string>
                <key>textureRect</key>
                <string>{{1,179},{60,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>poker_big_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{66,71}</string>
                <key>textureRect</key>
                <string>{{706,138},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_big_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,65}</string>
                <key>spriteSourceSize</key>
                <string>{66,71}</string>
                <key>textureRect</key>
                <string>{{143,158},{66,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_big_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,67}</string>
                <key>spriteSourceSize</key>
                <string>{66,71}</string>
                <key>textureRect</key>
                <string>{{74,179},{62,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>poker_black_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{90,111}</string>
                <key>spriteSourceSize</key>
                <string>{90,113}</string>
                <key>textureRect</key>
                <string>{{367,152},{90,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>poker_black_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{90,111}</string>
                <key>spriteSourceSize</key>
                <string>{90,113}</string>
                <key>textureRect</key>
                <string>{{480,152},{90,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>poker_black_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{90,111}</string>
                <key>spriteSourceSize</key>
                <string>{90,113}</string>
                <key>textureRect</key>
                <string>{{793,1},{90,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_cover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{107,147}</string>
                <key>spriteSourceSize</key>
                <string>{109,149}</string>
                <key>textureRect</key>
                <string>{{579,1},{107,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_front_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{107,149}</string>
                <key>spriteSourceSize</key>
                <string>{109,149}</string>
                <key>textureRect</key>
                <string>{{470,1},{107,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_highlight_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,155}</string>
                <key>spriteSourceSize</key>
                <string>{113,155}</string>
                <key>textureRect</key>
                <string>{{137,1},{113,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_red_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{90,111}</string>
                <key>spriteSourceSize</key>
                <string>{90,113}</string>
                <key>textureRect</key>
                <string>{{885,1},{90,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_red_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{90,111}</string>
                <key>spriteSourceSize</key>
                <string>{90,113}</string>
                <key>textureRect</key>
                <string>{{593,150},{90,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>poker_red_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,113}</string>
                <key>spriteSourceSize</key>
                <string>{90,113}</string>
                <key>textureRect</key>
                <string>{{252,152},{90,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>poker_small_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{941,114},{22,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>poker_small_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{880,199},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_small_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{904,199},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_small_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{928,199},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{784,201},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{798,138},{24,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{808,201},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{211,195},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{924,138},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{948,138},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{772,175},{24,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{824,138},{24,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{809,175},{24,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{920,175},{22,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{832,201},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{850,138},{24,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{856,199},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{976,243}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c510c31e4c5e0aa060ba2ff1cc249368:135cc17c868eb083d8307816ba94272f:fc86278e5045194fe7638df41a1aa4f3$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
